**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/node_modules/
**/*.log
**/*.tmp
**/TestResults/
**/coverage/
**/Dockerfile*
**/docker-compose*.yml
**/.git/
**/.gitignore
**/README.md
**/docs/
**/packages/
**/*.nupkg


